*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
   
}

h1{
    text-align: center;
}

p{
    font-size: 1.2rem;
}
.text{
    padding: 20px auto;
}

/* container */
.container{
    width: 80%;
    height: auto auto;
    margin: 0 auto;
   
}

/* HEADER */
header{
    
    color: #aaabb8;
    background-color: #25274D;
    display: flex;
    justify-content: space-between;
}


header h1{
    text-align: left;
    padding: 10px;
}

header h1 a{
    text-decoration: none;
    color: #aaabb8;
}

/* navbar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
   
}

nav ul li{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    
}

nav ul li:hover{
    /* border: 2px solid #464866; */
    background-color: #464866;
    transition: 0.3s;
    
}

nav ul li a{
    text-decoration: none;
    color: #aaabb8; 
    
}

/* ASIDE */
/* aside{
   border: 1px solid;
    text-align: center;
    
} */

/* MAIN */


/* RWD grid_view */

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

/* welcome */
.welcome p{
    text-align: center;
}

/* team_info */
.team{
    display: flex;
    justify-content:space-between;
    
}

.member{
    max-width: 25%;
    margin: 0 5px;
    padding: 10px;
    
    
}
.member_name{
    width: 100%;
    height: 100px;
}

.member img{
    
    border-radius: 100%;
    margin: auto;
    display: flex;
    max-width: 70%;
    
}
.avatar{
    background-image: url(./photo/blue.png);
    background-size:cover;
    background-position:center;
    border-radius:50%;
}

/* PROJECT-topic */
.project_topic{
    display: flex;
   
    
}

.project_topic img{
    max-width: 30%;
}

.project_describe p{
    margin: 35px;
    font-size: 1.4rem;
}

/*Table of Content*/

.toc_container{
    width:100%;
    height: 100%;
    
   
}
.toc_container ul {
    
    margin: auto;
    text-align: center;
    list-style: none;
    width: 250px;
    height: 100%;
}


.toc_contents li{
    border-radius: 5px;  
    margin:5px;
    background-color: #283c63;
    padding: 10px;
}

.toc_contents li a{
    
    text-decoration: none;
    color:#fff;
    font-size: 1em;
   
}



.toc_contents li:hover {

    background-color: #01579B;
    transition: 0.3s;

}

.assignment_h {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #464866;
    color:#e7e7e7;
    border-radius: 7px;


}

.assignment_h1{
    width: 100%;
    height: 100%;
    padding: 35px 20px 20px 20px;

}
.assignment-img img{
margin-top: 20px ;
margin-left: auto;
margin-right: auto;
padding: 10px;
width: 100%;
height: auto;
display: block;
}

#empathy_map .assignment-img img {
    max-width: 70%;
}

.button{
        width: 100%;
        text-align: center;
}
.button h2{
    margin: 50px auto;
    background-color: #283c63;
    padding: 10px;
    width:fit-content;
    border-radius: 4px;
    
}
.button h2 a{
    
    text-align: center;
    color: #aaabb8;
    text-decoration: none;
}
.button h2:hover {
    background-color: #464866;
    transition: 0.3s;
}

.button:visited {
    color: #aaabb8;
    background-color: #283c63;
}


/* about */
.about{
    text-align: center;
}

.about img{
    max-width: 40%;
}

.assignment-section1{
    margin: 35px;
    padding: 35px;
    background-color:aliceblue;
    border: 2px solid #283c63;
    border-width: 7px ;
    border-radius: 15px;
}

.assignment-section2{
    margin: 35px;
    padding: 35px;
    background-color: #e7e7e7;
    border: 2px solid #464866;
    border-width: 7px ;
    border-radius: 15px;

}

.assignment-section3{
    margin: 35px;
    padding: 35px;
    background-color: #fff;
    border: 2px solid #464866;
    border-width: 7px ;
    border-radius: 15px;

}


/*platform*/

.platform img{
    width: 200px;
    height: 282px;
    display: flex;
    margin: 0 auto;
}

/*Tools*/
.tools-img{

}
    /*Theydo*/

.theydo img{
    width: 128px;
    height: 128px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

    
    /*Figma*/

.figma img{
    width: 128px;
    height: 128px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}



/* journey map */
.journey_map img{
    width: 100%;
}

/* Personas */
.persona{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
   
}
.persona .assignment_h{
    background-color: #464866;
    color:#e7e7e7;
}


.persona_detail{
        
}

.persona_detail img{
    display: flex;
    margin: 0 auto;
    width: 500px; 
}
.persona_detail h2{
    text-align: center;
}

/*Scenarios*/

.scenarios img{
    width: 200px;
    height: 200px;
}
.scenarios h2 {
    color: #464866;
}
.scenarios .assignment_h{
    background-color: #464866;
    color:#e7e7e7;
}

/* Prototype */

.prototype{
    position: relative;
}

.prototype img{
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.prototype h2{
    position: absolute;
    top: 30%;
    width:100%;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: 2000;
    padding: 10px;
   
    
}


.prototype a:link{
    text-decoration: none;
    color:#25274D;
}
   

.prototype a:visited{
    text-decoration: none;
    color:#29B6F6;
}

.prototype a:hover{
    text-decoration: none;
    color:#464866;
}

.prototype a:active{
    border-radius: 20px;
    text-decoration: underline;
}

.figma-prototype {
    justify-content: center;
    display: flex;
}

/*ABOUT*/

.link-cs{
    text-decoration: none;
    color: black;
    background-color: #aaabb8;
    padding: 5px;
    border-radius: 20px;
    border-style: outset;
}
.link-cs:hover{
background-color: #e7e7e7;
}

/* grow on effect */
.grow{
    transition: all .2s ease-in-out; 

}

.grow:hover{
    transform: scale(1.1); 
}
