*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

p{
    font-size: 1.2rem;
}

/* container */
.container{
    width: 80%;
    height: auto auto;
    margin: 0 auto;
   
}

/* HEADER */
header{
    color: black;
    background-color: #01579B;
    display: flex;
    justify-content: space-between;
}


header h1{
    text-align: left;
    padding: 10px;
}

/* navbar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
   
}

nav ul li{
    
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    
}

nav ul li:hover{
    background-color: white;
    transition: 0.3s;
    
}

nav ul li a{
    text-decoration: none;
    color: black; 
    
}

/* ASIDE */
/* aside{
   border: 1px solid;
    text-align: center;
    
} */

/* MAIN */


/* RWD grid_view */

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

/* welcome */
.welcome p{
    text-align: center;
}

/* team_info */
.team{
    display: flex;
    justify-content:space-between;
    
}

.member{
    max-width: 25%;
    margin: 0 5px;
    padding: 10px;
    
    
}

.member img{
    
    border-radius: 100%;
    margin: auto;
    display: block;
    
}

/* PROJECT-topic */
.project_topic{
    display: flex;
    
}

.project_topic img{
    max-width: 30%;
}

.project_describe p{
    margin: 10px 0;
}

/* about */
.about{
    text-align: center;
}

.about img{
    max-width: 40%;
}

/* journey map */
.journey_map img{
    width: 100%;
}

/* Personas */
.persona{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
   
}

.persona_detail{
    
    width: 100%; 
}

.persona_detail img{
    display: block;
    margin: 0 auto;
}
.persona_detail h2{
    text-align: center;
}

/* Prototype */

.prototype{
    position: relative;
}

.prototype img{
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.prototype h2{
    position: absolute;
    top: 30%;
    width:100%;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 3px;
    color: #29B6F6 ;
    font-weight: 2000;
    padding: 10px;
   
    
}


.prototype a:link{
    text-decoration: none;
    color:#29B6F6;
}
   

.prototype a:visited{
    text-decoration: none;
    color:#29B6F6;
}

.prototype a:hover{
    text-decoration: none;
    color:#29B6F6;
}

.prototype a:active{
    border-radius: 20px;
    text-decoration: underline;
}



